> # Dear Epsilon Students, 
> # The More you practice The better You'll Be.

### Instructions: 
- Make sure that you understand this topics before you start.
- If you found something hard to do, try and try then google it and finally ask someone. 
- You can divide this work into daily tasks so that you do not feel pressure.
- After you finish, go to model answer and rate yourself. 
- If you find something ambiguous, Try to make a hypothesis to solve a problem.

### Question classification: 
- Green is level 1 
- Orange is level 2 
- Red is level 3

# <center> Let's start üí™ </center>

## <p style="color:green;">Q.01 Write a function takes a two-word string and returns True if both words begin with same letter</p>
> ('Levelheaded Llama') ‚Üí True

> ('Crazy Kangaroo') ‚Üí False

In [105]:
def function1(x):
  """
  function takes a two-word string and returns True if both words begin with same letter
  """
  x = x.split()
  if x[0][0] == x[1][0]:
    return(True)
  else: 
    return(False)



function1('Levelheaded Llama')

True

## <p style="color:green;">Q.02 Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd</p>

> (2,4) ‚Üí 2

> (2,5) ‚Üí 5

In [109]:
def function2(x,y):

  """
  function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
  """
 
  if x%2==0 and y%2==0:
   if x<y :
     return(x)
   elif x>y:
    return(y)
  elif x%2!=0 and y%2!=0:
   if x>y :
     return(x)
   elif x<y:
    return(y)  
  
function2(5,11)

11

## <p style="color:green;">Q.03 Write a function that capitalizes the first and fourth letters of a name</p>
> ('macdonald') ‚Üí MacDonald

In [108]:
def function3(x):
  """
  function that capitalizes the first and fourth letters of a name
  """

  #function that capitalizes the first and fourth letters of a name
  x=list(x)
  x[0]=x[0].upper()

  x[3]=x[3].upper()

  x="".join(x)

  return(x)

function3('macdonald')

'MacDonald'

## <p style="color:green;">Q.04 Given a sentence, return a sentence with the words reversed</p>
> ('I am home') ‚Üí 'home am I'

In [99]:
x='I am home'
x=x.split()
x=x[ ::-1]
x=" ".join(x)
x

'home am I'

## <p style="color:orange;">Q.05 Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.</p>
> has_33([1, 3, 3]) ‚Üí True

> has_33([1, 3, 1, 3]) ‚Üí False

In [12]:
def has_33(x):
    for i in range(len(x)-1):
        if x[i:i+2] == [3,3]:
            return True
    return False
has_33([3,3,1])

True

## <p style="color:orange;">Q.06 BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'¬∂</p>

>blackjack(5,6,7) ‚Üí 18

>blackjack(9,9,9) ‚Üí 'BUST'

>blackjack(9,9,11) ‚Üí 19

In [30]:
def blackjack(x,y,z):
  if (x+y+z)<21:
    print(x+y+z)
  elif (x+y+z)>21 and x==11 or y==11 or z==11:
    if (x+y+z)-10<21:
      print(x+y+z-10)
  else:
    print('BUST')
  

blackjack(9,9,11)

19

## <p style="color:red;">Q.07 SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.</p>
>summer_69([1, 3, 5]) ‚Üí 9

>summer_69([4, 5, 6, 7, 8, 9]) ‚Üí 9

>summer_69([2, 1, 6, 9, 11]) ‚Üí 14

In [29]:
def summer_69(l):
  l1=l[:l.index(6)]
  l2=l[l.index(9)+1:]
  return(sum(l1)+sum(l2))

summer_69([2,1,6,9,11])

14

## <p style="color:red;">Q.08 SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order</p>

>spy_game([1,2,4,0,0,7,5]) ‚Üí True

> spy_game([1,0,2,4,0,5,7]) ‚Üí True

 >spy_game([1,7,2,0,4,5,0]) ‚Üí False

In [52]:
def spy_game(x):
  for i in range(len(x)):
      if (x[i:i+3])==[0,0,7]:
        return(True)
  else:
    return(False)
   
       
         
spy_game([1,2,4,0,0,7,5])

True

## <p style="color:green;">Q.09 Write a function that checks whether a number is in a given range (inclusive of high and low)</p>

In [55]:
def ran_check(num,low,high):
    for i in range(low,high+1):
        if num==i:
            print('Number is within the range')
            break
    else :
            print('Number is out of range')
ran_check(6,5,9)

Number is within the range

## <p style="color:orange;">Q.10 Write a Python function to multiply all the numbers in a list.</p>
> Sample List : [1, 2, 3, -4]

> Expected Output : -24

In [73]:
def mult_list(l):
  x=1
  for i in l:
    x =x*i
  return(x)
   
mult_list([1,2,3,-4])

-24

## <p style="color:red;">Q.11 Write a Python function that checks whether a passed string is palindrome or not.</p>
>Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [80]:
def is_palindrome(s):
  if s[::-1]==s[0:]:
    print('palindrome')
  else:
    print('not palindrome')

is_palindrome('madam')

palindrome

## <p style="color:green;">Q.12 Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument

In [85]:
x=lambda a : a+15

x(5)

20

## <p style="color:green;">Q.13 create a lambda function that multiplies argument x with argument y and print the result.</p>

In [89]:

x = lambda a, b : print(a * b)

x(6,5)

30

## <p style="color:orange;">Q.14 Write a Python program to filter a list of integers using Lambda. </p>
> Original list of integers:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

> Even numbers from the said list:[2, 4, 6, 8, 10]

> Odd numbers from the said list:[1, 3, 5, 7, 9]

In [90]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list of integers:")
print(nums)
print("\nEven numbers from the said list:")
even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)
print("\nOdd numbers from the said list:")
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even numbers from the said list:
[2, 4, 6, 8, 10]

Odd numbers from the said list:
[1, 3, 5, 7, 9]

## <p style="color:green;">Q.15 Write a Python program to triple all numbers of a given list of integers. Use Python map.</p>

In [102]:
l=[1,2,3,4]
result = map(lambda x: x + x + x, l) 
print(list(result))

[3, 6, 9, 12]

## <p style="color:orange;">Q.16 Write a Python program to add three given lists using Python map and lambda.

</p>

In [103]:
l1 = [1, 2, 3] 
l2 = [4, 5, 6] 
l3 = [7, 8, 9] 

result = map(lambda x, y, z: x + y + z, l1, l2, l3) 

print(list(result))

[12, 15, 18]

## <p style="color:orange;">Q.17 Write a Python program to square the elements of a list using map() function.</p>

In [104]:
def square_l(x):
  return x * x
l = [5, 2, 3, 4]
result = map(square_l, l)
print(list(result))

[25, 4, 9, 16]

## <p style="color:green;">Q.18 Using filter() function filter the list so that only negative numbers are left.</p>
> lst1  [12,-1,9,8,-.5,-.2,-100]

In [105]:
lst1 =[12,-1,9,8,-.5,-.2,-100]
lst2 = list(filter(lambda x: x<0, lst1))
print(lst2)

[-1, -0.5, -0.2, -100]

## <p style="color:green;">Q.19 Using filter function, filter the even numbers so that only odd numbers are passed to the new list.</p>
> lst1  [22,100,19,13,11,1,4,66]

In [106]:

lst1 =[22,100,19,13,11,1,4,66]
lst2 = list(filter(lambda x: x%2!=0, lst1))
print(lst2)

[19, 13, 11, 1]

## <p style="color:green;">Q.20 Using map() and filter() functions add 2000 to the values below 8000.</p>
> lst [1000,500,600,700,5000,90000,17500]

In [112]:
lst=[1000,500,600,700,5000,90000,17500]
lst2 = list(map(lambda x: x+2000, filter(lambda x: x<8000, lst)))
print(lst2)

[3000, 2500, 2600, 2700, 7000]

# <center> Thank's for your effort ‚ù§Ô∏è </center>